.blockly-editor .selector {
  background: #c0c0c0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 24px;
  line-height: 24px;
  font-family: sans-serif;
}

.blockly-editor .workspace {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 24px);
}

.blockly-editor .workspace.appearance,
.blockly-editor .workspace.jsEditor {
  border: 1px solid #c6c6c6;
}

.jsPreview {
  border: 1px solid #c6c6c6;
}

.jsPreview .infobar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  background: #eeee88;
  border-bottom: 1px solid #c0c000;
  padding: 0 4px;
  font-family: sans-serif;
  font-size: 11pt;
}

.jsPreview .code {
  white-space: pre;
  font-family: Consolas, Lucida Console, Monaco, Courier New, monospace;
  font-size: 10pt;
  overflow: scroll;
  padding: 6px 2px;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
}

.blockly-editor.hidden {
  background: #c0c0c0;
}

.blockly-editor.hidden::after {
  content: 'Loading Blockly Editor...';
  display: block;
  margin: 1em 1em;
  font-family: sans-serif;
  color: #808080;
}

.blockly-editor.hidden > * {
  visibility: hidden;
}

.blockly-editor .selector .right {
  float: right;
  margin: 2px;
  height: 20px;
}

.blockly-editor .appearance {
  padding: 8px;
  font-family: sans-serif;
  font-size: 11pt;
}

.appearance #animList form {
  width: 5em;
  height: 10em;
}

.appearance #animList img {
  max-width: 100%;
}

.appearance .animPreviewContainer {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  position: relative;
}

.animPreviewContainer > img {
  position: absolute;
}

.animPreviewX {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  border-top: 1px solid #80808080;
}

.animPreviewY {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  border-left: 1px solid #80808080;
}

.animButton {
  border: 1px outset #e0e0e0;
  background: #c0c0c0;
  height: 2em;
  width: 2em;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: 2px 1px;
}

.animButton:disabled {
  color: #a0a0a0;
}

.animButton:active {
  border: 1px inset #e0e0e0;
}

.animButton:checked {
  border: 1px inset #e0e0e0;
  background: #808080;
}

.animButton:checked:disabled {
  color: #606060;
}

/* bug workaround */
.blocklyMinimalBody {
  height: 100%;
}

#keyDialog, #addFrameDialog {
  line-height: 24px;
  text-align: center;
  font-family: sans-serif;
  font-size: 11pt;
  padding: 1em;
}

.bounds-editor {
  border: 1px solid black;
}
