#step, #pause {
  margin-top: 3em;
  float: right
}
#camera {
  width: 640px;
  height: 480px;
  border: 1px solid black;
  position: relative;
}
#camera canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated -moz-crisp-edges;
  -webkit-optimize-contrast: pixelated;
}
div.blockly-editor {
  position: absolute;
  width: calc(100% - 760px);
  bottom: 8px;
  top: 8px;
  right: 80px;
}
