<div class='blockly-editor hidden'>
  <div class='selector'>
    <button class='right' id='exportButton' data-on-click='exportSource'>Export</button>
    <button class='right' id='runButton' data-on-click='run'>Run</button>
    &nbsp; Edit <select id='selectPrefab' data-type='UIDropdown' data-on-change='_updateEventList'></select> 
    <span data-id='selectEventSpan'>
      ::
      <select id='selectEvent' data-type='UIDropdown' data-on-change='_loadEventIntoWorkspace'></select> 
    </span>
    <span data-id='selectLanguageSpan'>
      &nbsp; using <select id='selectLanguage' data-type='UIDropdown' data-on-change='_loadEventIntoWorkspace'>
        <option value='blockly'>Blockly</option>
        <option value='javascript'>Javascript</option>
      </select>
    </span>
  </div>
  <div class='workspace' data-id='workspace'></div>
  <div class='workspace jsPreview' data-id='jsPreview'>
    <div class='infobar'>
      <b>This is a preview.</b> If you edit this code with Javascript, you will be unable to edit this code with Blockly.
      <button data-on-click='_switchToJS'>Edit with Javascript</button>
    </div>
    <div class='code' data-id='jsPreviewCode'></div>
  </div>
  <div class='workspace jsEditor' data-id='jsEditor' data-xtype='CodeMirrorPanel'></div>
  <div class='workspace appearance' data-id='appearancePanel' data-type='AppearancePanel'>
    <table>
      <tr><td colspan='2'>
        <input type='checkbox' id='animateHitboxes' data-on-change='_setAnimateHitboxes' /> Use Animated Hitboxes
      </td></tr>
      <tr><td colspan='2'>
        Animation: <select id='animName' data-type='UIDropdown' data-on-change='_selectAnimation'></select>
      </td></tr>
      <tr><td style='width: 6em' valign='top'>
        Frames:
        <div id='animList' data-type='UIListBox' data-on-change='_selectFrame'></div>
        <button class='animButton' data-id='add' data-on-click='_addFrame'>+</button>
        <button class='animButton' data-id='remove' data-on-click='_removeFrame'>&minus;</button>
        <button class='animButton' data-id='clone' data-on-click='_cloneFrame'>x2</button>
        <button class='animButton' data-id='moveUp' data-on-click='_moveFrameUp'>&uarr;</button>
        <button class='animButton' data-id='moveDown' data-on-click='_moveFrameDown'>&darr;</button>
      </td><td valign='top'>
        Origin / Hitbox:<br/>
        <canvas id='hitbox' data-type='BoundsEditor' width='200' height='200' data-origin='true' data-on-change='_updateHitbox'></canvas>
      </td></tr>
      <tr><td colspan='2'>
        ms per frame: <input type='number' id='animMs' style='width:5em' data-on-blur='_verifyAnimMs' data-on-change='_setAnimMs' />
      </td></tr>
      <tr><td colspan='2'>
        Preview:<br />
        <div class='animPreviewContainer'>
          <div class='animPreviewX'></div>
          <div class='animPreviewY'></div>
          <img id='animPreview' data-type='AnimationPreview' />
        </div>
      </td></tr>
    </table>
    <div id='addFrameDialog' data-type='UIDialog' data-on-drop='_dropFile' data-on-dragover='_dragOver' data-on-dragexit='_dragExit' data-on-change='_dropFile'>
      Drag an image file here to upload it,<br/>
      or choose a file:<br/>
      <input data-id='uploadFile' type='file' accept='image/png,image/gif,image/bmp,image/x-windows-bmp,image/x-bmp,image/x-bitmap,.gif,.bmp,.png' />
    </div>
    <div id='cropFrameDialog' data-type='UIDialog' data-cancelable='false'>
      <canvas id='frameEditor' data-type='BoundsEditor' width='640' height='480' data-origin='false'></canvas>
      <div style='text-align:center'>
        <button data-on-click='_newFrameRevert'>Revert</button>
        <button data-on-click='_newFrameCrop'>Crop</button>
        <button data-on-click='_newFrameFlipX'>Flip X</button>
        <button data-on-click='_newFrameFlipY'>Flip Y</button>
        <button data-on-click='_newFrameDone'>Save</button>
        <button data-on-click='_newFrameCancel'>Cancel</button>
      </div>
    </div>
  </div>
</div>
